# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

InfraRED/.vs/InfraRED/v16/.suo
InfraRED/.vs/InfraRED/v16/Browse.VC.db
InfraRED/.vs/InfraRED/v16/Solution.VC.db
InfraRED/.vs/InfraRED/v16/ipch/AutoPCH/2287e4f7decb6152/MAIN.ipch
raylib-cpp-master/x64/Debug/vc142.pdb
raylib-cpp-master/x64/Debug/vc142.idb
raylib-cpp-master/x64/Debug/raylib-cpp-master.log
raylib-cpp-master/x64/Debug/raylib-c.29DEC576.tlog/raylib-cpp-master.lastbuildstate
raylib-cpp-master/x64/Debug/raylib-c.29DEC576.tlog/link.write.1.tlog
raylib-cpp-master/x64/Debug/raylib-c.29DEC576.tlog/link.read.1.tlog
raylib-cpp-master/x64/Debug/raylib-c.29DEC576.tlog/link.command.1.tlog
raylib-cpp-master/x64/Debug/raylib-c.29DEC576.tlog/CL.write.1.tlog
raylib-cpp-master/x64/Debug/raylib-c.29DEC576.tlog/CL.read.1.tlog
raylib-cpp-master/x64/Debug/raylib-c.29DEC576.tlog/CL.command.1.tlog
raylib-cpp-master/Debug/vc142.pdb
raylib-cpp-master/Debug/vc142.idb
raylib-cpp-master/Debug/raylib-cpp-master.vcxproj.FileListAbsolute.txt
raylib-cpp-master/Debug/raylib-cpp-master.log
raylib-cpp-master/Debug/raylib-cpp-master.Build.CppClean.log
raylib-cpp-master/Debug/raylib-c.29DEC576.tlog/raylib-cpp-master.lastbuildstate
raylib-cpp-master/Debug/raylib-c.29DEC576.tlog/link.write.1.tlog
raylib-cpp-master/Debug/raylib-c.29DEC576.tlog/link.read.1.tlog
raylib-cpp-master/Debug/raylib-c.29DEC576.tlog/link.command.1.tlog
raylib-cpp-master/Debug/raylib-c.29DEC576.tlog/CL.write.1.tlog
raylib-cpp-master/Debug/raylib-c.29DEC576.tlog/CL.read.1.tlog
raylib-cpp-master/Debug/raylib-c.29DEC576.tlog/CL.command.1.tlog
InfraRED/.vs/InfraRED/v16/ipch/AutoPCH/a951c450f8773bfe/TEXT.ipch
InfraRED/.vs/InfraRED/v16/ipch/AutoPCH/a61163b794cff1b0/CORE.ipch
InfraRED/.vs/InfraRED/v16/ipch/AutoPCH/8a74a7c5fcd7c4a1/CORE.ipch
InfraRED/.vs/InfraRED/v16/ipch/AutoPCH/5994263ca1c3506e/CORE.ipch
InfraRED/.vs/InfraRED/v16/ipch/AutoPCH/3f9964f70d1d3a24/UTILS.ipch